<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link th:href="@{/css/all.css}" href="../static/css/all.css" rel="stylesheet" type="text/css">
		<link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" type="text/css">
		<title>Document</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="top_nav">
				<div class="top_nav_l1 align-items-lg-center">
					<div class="top_nav_left"> Прекрасный агрегатор! </div>
					<div class="d-lg-flex top_nav_right align-items-lg-center">
						<a class="nav-link auth-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">Войти</a>
						<a class="nav-link auth-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">Выйти</a>
					</div>
				</div>
			</div>
			<div class="navbar">
				<nav class="w-75 navbar-expand-lg">
					<div class="container-fluid nav_mobile">
						<a class="navbar-brand" th:href="@{/}" href="#"> <img th:src="@{/images/logo_word.png}"  src="../static/images/logo_word.png" width="auto" height="25" class="d-inline-block fa-align-center image-logo" alt=""/> </a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"><img class="navbar_dropdown_icon" src="../static/images/menu.png"></span> </button>
					  <div class="collapse navbar-collapse collapsed_nav" id="navbarSupportedContent">
							<div class="form-search">
								<form class="form-inline">
									<input class="input-search" type="search" placeholder="Что ищем?" aria-label="search">
									<button class="search-btn-outline-success">
										<img id="search-icon"  th:src="@{/images/search.png}" src="../static/images/search.png">
										Поиск
									</button>
								</form>
							</div>
						<ul class="navbar-nav mr-auto">
						  </ul>
						  <ul class="navbar-nav">
							  <li class="nav-item active"> <a class="nav-link" th:href="@{/shop/men_all/-1}" href="#">Мужчинам<span class="sr-only">(current)</span></a> </li>
							  <li class="nav-item active"> <a class="nav-link" th:href="@{/shop/Ladies/-1}" href="#">Женщинам</a> </li>
							  <!--          <li class="nav-item active"> <a class="nav-link" th:href="@{/shop/-1}" href="#">shop</a> </li>-->
							  <li class="nav-item active"> <a class="nav-link mobile_auth" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">Войти</a> </li>
							  <li class="nav-item active"> <a class="nav-link mobile_auth" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">Выйти</a> </li>
							  <li class="nav-item active"> <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/profile}" href="#">Профиль</a> </li>
							  <li class="nav-item active"> <a class="nav-link" th:href="@{/cart}" href="#">Избранное</a> </li>
							  <li class="nav-item active"> <span class="nav-link" th:text="${cartCount}">750</span> </li>
						  </ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="container promo_box">
			<a th:href="@{/shop/Ladies/-1}" href="#"><img class="promo_img" th:src="@{${product_l1.normalPicture}}"></a>
			<a th:href="@{/shop/Ladies/-1}" href="#"><img class="promo_img" th:src="@{${product_l2.normalPicture}}"></a>
			<a th:href="@{/shop/men_all/-1}" href="#"><img class="promo_img" th:src="@{${product_men.normalPicture}}" src="../static/images/32.png"></a>
			<a th:href="@{/shop/Ladies/-1}" href="#"><img class="promo_img" th:src="@{${product_l3.normalPicture}}"></a>
			<div class="container promo_prompt" id="fir_link">
				<h1 onmouseover="chbg_1link('white')" onmouseout="chbg_1link('black')">
					<a class="nav-link promo_nav" th:href="@{/shop/Ladies/-1}" href="#">Одежда на каждый день</a>
				</h1>
			</div>
			<!-- <div class="container promo_prompt" id="sec_link">
				<h1 onmouseover="chbg_2link('white')" onmouseout="chbg_2link('black')">
					<a class="nav-link promo_nav" th:href="@{/lookamaker}" href="#">Создать свой жесткий лучелло</a>
				</h1>
			</div> -->
		</div>
		<div class="site-footer">
			<ul class="foot list-unstyled">
				<li><a class="footer-text" href="https://github.com/Dmitryq/Agregator">GitHub</a></li>
				<li><a class="footer-text" th:href="@{/lookamaker}" href="#">Создать свой образ.</a></li>
			</ul>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="../static/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
		<script src="../static/js/kostili.js" th:src="@{/js/kostili.js}"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		</div>
	</body>
</html>
