@import url("../webfonts/ST_Tablichka/stylesheet.css");
@import url("../webfonts/Tektur_Medium/stylesheet.css");
@import url("../webfonts/Tektur_Regular/stylesheet.css");
/* CSS Document */
body {
    background: url(../images/logo_grid_4_test.png) no-repeat center center fixed; 
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;             
    font-family: "Tektur Medium";
}

.navbar_dropdown_icon {
	width: 40px;
}



.navbar {
	border: solid white 3px;
	position: relative;
	z-index: 10;
	position: relative;
	margin-top: 10px;
	margin-bottom: 25px;
	background: #272727;
	height: 90px;
	font-size: 20px;
}

.datatable-body-cell { overflow-x: visible !important; }

#categories_tag {
	background: #FFFFFF;
	text-align: center;
}

.form-search {
	margin: 0 auto;
	width: 100%;
}

.input-form {
	width: 87%; 
}

.search-btn {
    width: 20%;
    padding: 10px;
    position: sticky;
}

.input-search {
	padding-left: 10px;
	float: left;
	width: 80%;
	border-color: black;
	border-right: none;
	position: sticky;
	outline: none;
}

.search-btn-outline-success {
	width: 20%;
	color: #228E5D;
	border-color: #000000;
}

.search-btn-outline-success:hover {
	width: 20%;
	color: #fff;
	background-color: #949494;
	border-color: #000000;
}

.search-btn-outline-success:focus {
	outline: none;
	color: #fff;
	background-color: #949494;
	border-color: #000000;
}

@media (max-width:991px) {
	.navbar-nav {
		padding-left: 10px;
		background-color:#fff;
		border: 3px solid black;
	}
}

.image-logo {
	background: #000000;
}

.nav-link {
	color: #228E5D;
}

.nav-link:hover, .nav-link:focus {
	color: #1B704A;
}

.top-content .carousel-item {
    height: 100vh;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel {
	position: relative;
	margin: auto;
	z-index: 5;
	border: 3px solid white;
}



.heading-carousel {
    color: #228E5D;	
}

.p_carousel {
	color: #228E5D;
}

@media screen and (max-width: 800px){   
    #c1_big_img{      
        content:url("../images/asd.png");
    } 
	 #c1_big_img{      
        content:url("../images/asd.png");
    } 
	 #c1_big_img{      
        content:url("../images/asd.png");
    } 
}

.card-body-new {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.login-form  {
	background: #FFFFFF;
}

.receipt {
	background: #FFFFFF;
}

.products {
	background: #FFFFFF;
}

.site-footer {
	border-top: solid white 4px;
	list-style-type: none;
	position: absolute;
 	bottom: 0;
    margin-top: 1%;
    display: flex;
    height: 8vh;
    width: 100%;
    background-color: #000000;
    line-height: 1.3;
}


.foot {
	display: inline-grid;
	grid-auto-flow: row;
	grid-gap: 24px;
	justify-items: center;
	margin: auto;
}

.footer-text {
	color: white;
	text-decoration: none;
	box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

.footer-text:hover {
	color: #DBDBDB;
	box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

@media (min-width: 500px) {
  foot {
    grid-auto-flow: column;
  }
}
/*

.container-back {
	margin-top: -40%;
	z-index: -10;
	position: relative;
	perspective: 500px;
	border-radius: 5px;
}
.style-flat {	
	transform-style: flat;
}

.flip {
	height: 1000px; 
	border-radius: 5px;
	transform: rotateX(45deg);
	position: relative;
	background: rgba(169,90,145,.8); 
}
*/
