@import url("../webfonts/ST_Tablichka/stylesheet.css");
@import url("../webfonts/Tektur_Medium/stylesheet.css");
@import url("../webfonts/Tektur_Regular/stylesheet.css");
/* CSS Document */
body {
    background-image: url(../images/logo_grid_4_test.png);
	width: 100%;
   	height: auto;
    background-size: cover;               
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Tektur Medium";
}

.navbar {
	position: relative;
	z-index: 10;
	position: relative;
	margin-top: 10px;
	margin-bottom: 25px;
	background: #272727;
	height: 90px;
	font-size: 20px;
}

.form-search {
	margin: 0 auto;
	width: 100%;
}

.input-form {
	width: 87%; 
}

.search-btn {
    width: 20%;
    padding: 10px;
    position: sticky;
}

.input-search {
	padding-left: 10px;
	float: left;
	width: 80%;
	border-color: black;
	border-right: none;
	position: sticky;
	outline: none;
}

.search-btn-outline-success {
	width: 20%;
	color: #228E5D;
	border-color: #000000;
}

.search-btn-outline-success:hover {
	width: 20%;
	color: #fff;
	background-color: #949494;
	border-color: #000000;
}

.search-btn-outline-success:focus {
	outline: none;
	color: #fff;
	background-color: #949494;
	border-color: #000000;
}

.image-logo {
	background: #000000;
}

.nav-link {
	color: #228E5D;
}

.nav-link:hover, .nav-link:focus {
	color: #1B704A;
}

.top-content .carousel-item {
    height: 100vh;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel {
	position: relative;
	margin: auto;
	z-index: 10;
	border: 8px solid black;
}



.heading-carousel {
    color: #228E5D;	
}

.p_carousel {
	color: #228E5D;
}

@media screen and (max-width: 800px){   
    #c1_big_img{      
        content:url("../images/asd.png");
    } 
	 #c1_big_img{      
        content:url("../images/asd.png");
    } 
	 #c1_big_img{      
        content:url("../images/asd.png");
    } 
}



/*

.container-back {
	margin-top: -40%;
	z-index: -10;
	position: relative;
	perspective: 500px;
	border-radius: 5px;
}
.style-flat {	
	transform-style: flat;
}

.flip {
	height: 1000px; 
	border-radius: 5px;
	transform: rotateX(45deg);
	position: relative;
	background: rgba(169,90,145,.8); 
}
*/
